<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    ">
    <bean name ="s1" class = "com.springpractice.Student">
    <property name = "sid" value = "1"></property>
    <property name = "Name" value = "Ayush"></property>
    </bean>
    <bean name ="s2" class = "com.springpractice.Student">
    <property name = "sid" value = "2"></property>
    <property name = "Name" value = "Kunal"></property>
    </bean>
    <bean name ="s3" class = "com.springpractice.Student">
    <property name = "sid" value = "3"></property>
    <property name = "Name" value = "Harshit"></property>
    </bean>
    <bean name ="s4" class = "com.springpractice.Student">
    <property name = "sid" value = "4"></property>
    <property name = "Name" value = "Abhishek"></property>
    </bean>
    <bean name ="s5" class = "com.springpractice.Student">
    <property name = "sid" value = "5"></property>
    <property name = "Name" value = "Divyansh"></property>
    </bean>
 </beans>